:root {
    --primary-color:#252B48;
    --secondary-color:#445069;
    --tetiary-color:green;
}
nav {
    background-color: var(--secondary-color)!important;
}
.navbar-brand {
    color: white;
}
.btn {
    color: white;
}
.nav-link {
    color: white!important;
}
.showcase {
    background-color: #252B48!important;
    justify-content: space-around;
    display: flex;
    min-height: 750px;
}
.card {
    max-height: 14rem;
}